.topic {text-transform: uppercase;
    font-family: "Assistant", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  1rem;
    line-height: 2em;
}

.title {font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.des {
    margin-top: 1.5em;
    line-height: 2em;
    font-size: 1.2rem;
}

nav a {font-size: 1rem;

    text-decoration: none !important;
    color: #000 !important;
}

/* Header */
nav{position: fixed;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    padding:0 2.5em;
    background-color: #ffffff;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    }
    
main{margin-top:6.25rem ; 
width: 100%;}  
nav a {padding: 0 1.5em;}

.items_left a:nth-child(2){padding-left:3.5em;
}


nav .links a:not(:last-child) {
    margin-right: 20px;
}


.showsmall{display: none; }


.nav-logo {margin:2em 1.5em; 
   
}


.textlogo {top: "50px";
    color:#d6054e !important;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
    opacity: 1;
    font-family: 'Glacial Indifference', sans-serif;
}

.youAreHere {
    font-weight: 450;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 800;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover {
    color: #fff;
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color:#d6054e;
}

footer .right p {
    font-size: 13px;
    color: #777;
}

.social a {
    color: #fff !important;
}

/* Responsive Media Queries */
@media screen and (max-width: 1400px) {
    nav {
        padding: 0 40px;
    }

  
    
    footer {
        padding: 100px 40px;
    }

    footer h3 {
        font-size: 38px;
    }

}

@media screen and (max-width: 1200px) {
    nav {
        height: 80px; 
        padding: 0 2em; 
    }

   

    footer .links a {
        font-size: 15px;
    }
}

@media screen and (max-width: 992px) {
    nav a.logo {
        font-size: 28px;
    }

    nav .links a {
        font-size: 14px;
    }

   
    footer {
        flex-direction: column;
        padding: 60px 40px;
    }

    footer h3 {
        margin-bottom: 40px;
        font-size: 32px;
    }

    footer .right {
        width: 100%;
        align-items: center;
    }

    
}

@media screen and (max-width: 768px) {
    nav {
        height: 40px; 
        padding: 4em 1.5em 2em 0.9em; 
        font-size: 0.9rem; 
    }

    .container{margin-top:3%}
    .col-md-10{padding-left: 2em!important ;
       
    }

    .col-md-10 .title{font-size: 2em;}
    .col-md-2{padding-left:3em !important ;
    }

    nav a {
        padding: 0 0.8em; 
    }

    .showsmall {padding-bottom: 1%;
        width: 20px; 
        height: auto; 
        display: block; 
    }

       

    .textlogo, .items_left{
        display: none; 
    }
    
   
    
    footer {
        padding: 40px 20px;
    }
    
    footer img{padding-bottom:2em;}

}


@media screen and (max-width: 576px) {
    nav {
        height: 60px; 
        padding: 4em 0.5em; 
    }

    .col-md-10{padding-left: 3em!important ;
       
    }
    .col-md-2{padding-left:2.9em !important ;
        margin:3% 0 4% 0 ;
    }

    h1{text-align: left;}

    nav a {
        padding: 0 0.5em; 
    }
    nav a:last-child {
        padding-right: 1em; 
    }

    .nav-pills {margin-right:9%;
        flex-direction: row !important;
        justify-content: left;
      }
    
    
   .nav-logo{width:45px}
    
    .nav-pills .nav-link {font-size:14px;
        text-align: center;
        margin: 4px;
        padding: 10px; 
        border-radius: 0;;
        border: 1px solid black;
        flex: 1 0 calc(50% - 8px);    
      }

    .nav-link.active, .nav-link.active .show{ background-color: #d6054e !important;
        color:white !important;
        border:1px solid #d6054e !important;
   }


   footer{padding-top: 60px;}
  

   footer p{text-align: center;}

    .links {font-size: 12px;
        display: flex;
        flex-wrap: wrap; 
        text-align: left;
        margin: 0 50px;
    }
    
    .links a {
        flex: 1 0 calc(30% - 1px);  
    }

    .links a:nth-child(even){text-align: right;}

}


