/* Basic styling */
* {padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.topic {text-transform: uppercase;
    font-family: "Assistant", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 2em;
}

.title {font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
}

.des {    
    line-height: 2em;
    font-size: 1rem;
}

/* Header */
nav{position: fixed;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    padding:0 2.5em;
    background-color: #ffffff;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    }
    

main{margin:6.25rem  0 0 0; 
width: 100%;}  

nav a {padding: 0 1.5em;}
.items_left a:nth-child(2){padding-left:3.5em;
}


.container-fluid a, nav a {
    text-decoration: none !important;
    color: #000 !important;
}



nav .links a:not(:last-child) {
    margin-right: 20px;
}


.showsmall{display: none; }

.nav-logo {margin:2em 1.5em; 
 
}


.textlogo {top: "50px";
    font-family: 'Glacial Indifference', sans-serif;
    scale: 21px;
    color:#d6054e !important;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
    opacity: 1;
}

.youAreHere {
    font-weight: 450;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 800;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover {
    color: #fff;
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color:#d6054e;
}

footer .right p {
    font-size: 13px;
    color: #777;
}

.social a {
    color: #fff !important;
}

/* Responsive Media Queries */
@media screen and (max-width: 1400px) {
    nav {
        padding: 0 40px;
    }

    footer {
        padding: 100px 40px;
    }

    footer h3 {
        font-size: 38px;
    }

}

@media screen and (max-width: 1200px) {
    footer .links a {
        font-size: 15px;
    }

    nav {
        height: 80px; 
        padding: 0 2em; 
    }

}

@media screen and (max-width: 992px) {
    nav a.logo {
        font-size: 28px;
    }

    nav .links a {
        font-size: 14px;
    }

    .col-md-10{padding: 0 2em 0  4em!important ;
       
    }
    .col-md-2{padding:1em 0em 2em 6.5em !important ;}


    footer {
        flex-direction: column;
        padding: 60px 40px;
    }

    footer h3 {
        margin-bottom: 40px;
        font-size: 32px;
    }

    footer .right {
        width: 100%;
        align-items: center;
    }

    
}

@media screen and (max-width: 768px) {
    nav {
        height: 70px; 
        padding: 4em 1.5em; 
        font-size: 0.9rem; 
    }

    nav a {
        padding: 0 0.8em; 
    }

    .showsmall {padding-bottom: 1%;
        width: 20px; 
        height: auto; 
        display: block; }

    .textlogo, .items_left{
        display: none; 
    }

    footer {
        padding: 40px 20px;
    }

}

@media (max-width: 576px) {
    nav {
        height: 60px; 
        padding: 0 1em; 
    }

    nav a {
        padding: 0 0.5em; 
    }

    .col-md-10{padding: 0 2em 0  3em!important ;
       
    }
    .col-md-2{padding:1em 0em 2em 5.5em !important ;}

}

/* Additional nav */
.container-fluid {overflow-x: hidden; 
    margin-top: 7% !important;
    padding:0 7% 5% 0!important;
    width:100vw;
    text-align: justify;
    
  
}

.col-md-2{padding-left:4.5%;
    
 }
.col-md-10{margin:0 !important;
padding-left: 0;

}


.nav-link.active {
    font-weight: 450;
}

.nav-link {
    background-color: transparent !important;
}

.nav-link:hover, .accordion a:hover {
    color: #d6054e !important;
    background-color: transparent !important;
}

.nav-link.active:hover {
    color: #d6054e !important;
}

.nav-link {
    margin-left: -10%;
}

.tab-content {
    margin-bottom: 8%;
}



/*actual content*/
.scroller {
    width: 100vw; /* DO NOT CHANGE */
    height: 60vh; 
    overflow: hidden; 
    position: relative; 
}

.scrollee {
    width: fit-content; 
    display: flex;
    flex-wrap: nowrap; 
}

.scrollee_item {
    margin: 3% 10% 0% 0;
    width: 100vw; /* Keep it 100 nothing works otherwise */
    height: 20vh; 
}







.subContent{margin-top:5%}

#architectureImg{height: auto;
width:80%;
padding:5% 2% 0 7%}

.colourPalette img{width:100%;
height:auto;
padding-top:3%}

.colourPaletteText{padding-top:3%;
display:flex;
flex-direction: row;}

.colourText{flex:35%;}

main h3{font-size: 1em;
padding-top:2%;}



#coolors{width:100%;
height:auto;
}

#colourBlindness{width:80%;
    height:auto;
}

.accordion{font-family: "Poppins", sans-serif;
    line-height: 2em;
    font-size: 1rem;}

.accordion-item:first-of-type .accordion-button {
        border-radius: 0;
       
    }
.accordion-button:not(.collapsed), .accordion-button:focus  {
        color: #d6054e !important;
        background-color: transparent ;
       
    }
.accordion-button:focus {
        z-index: 3;
        border-color: #d6054e;
        outline: 0;
        box-shadow: none;
    }
.accordion-button:not(.collapsed)::after {
    background-image: url(); 
    
        transform: rotate(-180deg);
    }

#disclamer{
    padding: 10%;
    background-color: #000;
    color:white;
    border-bottom: 1px solid white;
  }


