
body {
    margin: 0;
    overflow-x: hidden;
}

.scroller {
    width: 100vw; /* Ensure the wrapper takes the full viewport width */
    overflow: hidden; /* Hide any overflow content */
}

.scrollee {
    width: fit-content; /* Allow the element to grow with the content */
    display: flex;
    flex-wrap: nowrap; /* Disable wrapping */
}

.scrollee_item {background-color: beige;
    margin: 5%;
    width: 100vw;
    height: 50vh;
    
}

.scrollee h2:last-of-type {
    background: #e1e1ff;
}

.lightBG {
 
    color: black;
    margin: 5%;

}


