body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}
#svg_container {
    margin: 20px auto;
    width: 80%;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
.content {
    margin: 20px;
}
.image-mapper-shape {
    fill: rgba(0, 0, 0, 0);
    cursor: pointer;
}
g:hover .image-mapper-shape {
    fill: #F50045;
    transition: fill 0.4s;
    opacity: 20%;
}