
body {
    margin: 0;
    overflow-x: hidden;
}



.scroller {
    width: 100vw; /* Ensure the wrapper takes the full viewport width */
    overflow: hidden; /* Hide any overflow content */
}

.scrollee {
    width: fit-content; /* Allow the element to grow with the content */
    display: flex;
    flex-wrap: nowrap; /* Disable wrapping */
}

.scrollee_item {
    margin: 5%;
    width: 100vw;
    height: 50vh;
    
}

img{height: 100%;
width: 100%;}


.lightBG {
 
    color: black;
    margin: 5%;

}


