/*same as the homepage, do not copy*/

/*basic styling*/
*{font-family: "Poppins", sans-serif;
	font-weight:300;
	font-style: normal;}


/*Header*/
nav {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
    z-index: 100;

}

.container a, nav a{
    text-decoration: none !important; 
    color: #000 !important;
}

.logo {
    font-size: 33px;
    color: #F50045 !important;
    font-weight: 600;
}

nav .links a:not(:last-child) {
    margin-right: 20px;
}

.youAreHere{font-weight:450;}

/*Footer*/
footer{
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3{
    font-size: 800;
}

footer .right{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links{
    display: flex;
    gap: 30px;

}

footer .right .links a{
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover{
    color: #fff;

}

footer .right .social{
    display: flex;
    align-items: center;
    gap: 10px;

}

footer .right .social i{
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;

}

footer .right .social i:hover{
    color:#F50045 ;
}

footer .right p{
    font-size: 13px;
    color: #777;

}

.social a{color:#fff !important; }

@media screen and (max-width: 1400px) {
    
    nav{
        padding: 0 40px;
    }

    footer{
        padding: 100px 40px;
    }

    footer h3{
        font-size: 38px;
    }

}

@media screen and (max-width: 1200px) {
    
    
    footer .links a{
        font-size: 15px;
    }

}

@media screen and (max-width: 992px) {
    
    nav a.logo{
        font-size: 28px;
    }

    nav .links a{
        font-size: 14px;
    }


    footer{
        flex-direction: column;
        padding: 60px 40px;
    }

    footer h3{
        margin-bottom: 40px;
        font-size: 32px;
    }

    footer .right{
        width: 100%;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {
    
    nav{
        padding: 0 20px;
    }

    nav a.logo{
        display: none;
    }

    nav .links a{
        font-size: 12px;
    }

    nav .login button{
        font-size: 12px;
        padding: 6px 10px;
    }


    footer{
        padding: 40px 20px;
    }

}

@media screen and (max-width: 576px) {
    
    

}

/*changes*/
.container{margin-top:3%}
.nav-link.active {
    font-weight: 450;
}


.nav-link {
    background-color: transparent !important; 
    
}

.nav-link:hover {
    color: #F50045 !important; 
    background-color: transparent !important; 
}


.nav-link.active:hover {
    color: #F50045 !important; 
}


.nav-link {
    margin-left: -10px; 
    
}

.tab-content {
    
    margin-bottom: 8%; 
}



/* History */
h1{
    margin-bottom: 40px;
}

section{
    margin: 20px 0;
}

.timeline{   /*!testo molto più in basso rispetto al titolo*/
    margin: 250px 0; /*!timeline in basso, lo 0 sennò verreberro appiccicati al centro*/
    padding: 10px;

    display: grid;
    grid-template-columns: 40% auto;
    justify-content: center;
}

ul{
    margin-top: 30px; /*!più alto/basso il numero più i pallini vanno giù/su */
    display: flex;  /*!testi disposti orizzontalmente*/
    flex-direction:column;
    justify-content: center; /*!makes the timeline resposnive*/
    align-items: center;
    list-style: none;
    padding: 0;
}

li{
    position: relative; /* così i testi sono uno accanto all'altro, se absolute uno sopra l'altro */
}

li p{
    position: absolute;
    top: -265px; /* Sposta la didascalia sopra la data */
    width: 150px; /* la larghezza del riquadro */
    background-color: #f0ead7;
    color: black;
    text-align: left;
    padding: 10px;
    font-size: 12px;
    transform: translateY(-10px); /*!PER NON FARE VEDERE TUTTI I TESTI ALL'INIZIO!!*/
    opacity: 0;
    padding: 25px;
    transition: 1.5s;
}
/* Stile per il bottone */
a.tell-more {
    padding: 5px 10px;
    background-color: #f0ead7; /* Colore di sfondo simile ai bottoni di Bootstrap */
    text-decoration: none; /* Rimuove la sottolineatura del link */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, font-weight 0.3s ease; 
    font-size: 12,5px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
}

.tell-more:hover {
    background-color: #e6dcbd; /* Colore più scuro quando il link viene "hoverato" */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Effetto di illuminazione con ombra */
    font-weight: bold;
}

.date{
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;

    position: absolute;
    top: 50px;
    left: -68px;
    font-size: 16px;
}

.timeline-point { /*!puntini messi sopra i testi*/
    border: none;
    position: absolute;

    border-radius: 50%;
    background: #dfe0e5;
    width: 10px;
    height: 10px;

    top: 30px;  
    left: -6px;
    transition: 1.5s ease;
}

.timeline-line{  /*!la riga timeline*/
    background: #cfcfd9;
    width: 4px;
    border-radius: 12px;
    position: relative;
    justify-self: end;
}

.timeline-innerline{  /*!la riga timeline*/
    position: absolute;
    background: #f50045;
    height: 0%;
    width: 4px;

    top: 0%;
    left: 0%;

    transition: 1s linear;
    border-radius: 999px;
}

@media screen and (min-width:728px) {
    .timeline{
        display: block;
    }

    ul{ 
        flex-direction: row;
    }
    li{
        width: 100%;
        padding: 0 20px;
    }
    
    li p{
        transform: translateY(-10px); /*!non vedo i testi*/
        opacity: 0;
        padding: 0 20px;
        transition: 1.5s;
    }

    .date{
        position: absolute;
        top: -60px;
        left:38%;
    }
    
    .timeline-point { /*!puntini messi sopra i testi*/
        width: 15px;
        height: 15px;
    
        top: -40px;  
        left: 40%;
    }
    
    .timeline-line{  /*!la riga timeline*/
        width: 100%;
        height: 4px;
 
    }
    
    .timeline-innerline{  /*!la riga timeline*/
        width: 0%;
        height: 4px;
    }
}



/* Designers */
/* Basic styles */
.title {
    font-size: small;
    line-height: 2em;
}

.topic {
    font-family: 'Glacial Indifference', sans-serif;
    font-size: 3em;
    font-weight: 500;
}

.des {
    margin-top: 1em;
    line-height: 2em;
    padding: 5px 0;
    text-align: justify;
}


/* Carousel */
.carousel {
    height: 55vh;
    overflow: hidden;
    position: relative;
}

.carousel .designers {
    display: flex; 
    transition: transform 0.5s ease-in-out; 
}

.carousel .designers .item {
    flex: 0 0 100%; 
    display: flex; 
   
}

/* Intro section styles */
.carousel .designers .item .intro {
    display: flex; 
    
    width: 100%; 
    flex-direction: row-reverse; /*  image on the right */
}

.carousel-image {background-color: #F50045;
    width: 35%; 
    height: auto; 
    margin-left: 20px; 
    margin-bottom: 20px;
}

.carousel .designers .item .text {
    flex: 1; 
}

/* Navigation buttons */
.arrows {
    position: absolute;
    bottom: 2px; 
    width: 85%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: transparent;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    font-size: 0;
}

#prev::before,
#next::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: solid #555;
    border-width: 0 3px 3px 0;
    padding: 2px;
    transform: rotate(45deg);
}

#prev {
    left: 10px; 
}

#next {
    right: 10px; 
}

#prev::before {
    transform: rotate(135deg); 
}

#next::before {
    transform: rotate(-45deg); 
}

button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

button:hover {
    color: #000;
}

/*map page*/
.image-mapper-shape {
    fill: rgba(0, 0, 0, 0);
}
g:hover .image-mapper-shape {
    fill:  #F50045;
    
    opacity: 20%;
}

#svg_container{
    width: 50%;
    height:auto;
    margin-left:7%;
    margin-top:3%
}