@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Basic styling */
* {padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.topic {text-transform: uppercase;
    font-family: "Assistant", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:  0.9rem;
    line-height: 2em;
}

.title {font-family: "Poppins", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
}

.des {
    margin-top: 1.5em;
    line-height: 2em;
    font-size: 1rem;
}

/* Header */
nav{position: fixed;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:0;
    padding:0 2.5em;
    background-color: #ffffff;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    }
    
main{margin-top:6.25rem ; 
width: 100%;}  
nav a {padding: 0 1.5em;}
.items_left a:nth-child(2){padding-left:3.5em;
}

.container-fluid a, nav a {
    text-decoration: none !important;
    color: #000 !important;
}

nav .links a:not(:last-child) {
    margin-right: 20px;
}


.showsmall{display: none; }


.nav-logo {margin:2em 1.5em; 
   
}



.textlogo {top: "50px";
    color:#d6054e !important;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 2;
    opacity: 1;
    font-family: 'Glacial Indifference', sans-serif;
}

.youAreHere {
    font-weight: 450;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 800;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover {
    color: #fff;
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color:#d6054e;
}

footer .right p {
    font-size: 13px;
    color: #777;
}

.social a {
    color: #fff !important;
}

/* Responsive Media Queries */
@media screen and (max-width: 1400px) {
    nav {
        padding: 0 40px;
    }

  
    
    footer {
        padding: 100px 40px;
    }

    footer h3 {
        font-size: 38px;
    }

}

@media screen and (max-width: 1200px) {
    nav {
        height: 80px; 
        padding: 0 2em; 
    }

    .col-md-10{padding-left: 4.7em!important ;
       
    }
    .col-md-2{padding-left: 4.2em!important ;
    }

    footer .links a {
        font-size: 15px;
    }
}

@media screen and (max-width: 992px) {
    nav a.logo {
        font-size: 28px;
    }

    nav .links a {
        font-size: 14px;
    }

    .col-md-10{padding-left: 7em!important ;
       
       }
    .col-md-2{padding-left: 4.2em!important ;}

   
    footer {
        flex-direction: column;
        padding: 60px 40px;
    }

    footer h3 {
        margin-bottom: 40px;
        font-size: 32px;
    }

    footer .right {
        width: 100%;
        align-items: center;
    }

    
}

@media screen and (max-width: 768px) {
    nav {
        height: 70px; 
        padding: 4em 1.5em; 
        font-size: 0.9rem; 
    }

    nav a {
        padding: 0 0.8em; 
    }

    .showsmall {padding-bottom: 1%;
        width: 20px; 
        height: auto; 
        display: block; 
    }

    .textlogo, .items_left{
        display: none; 
    }

    
    .col-md-2{display:flex !important;
    flex-direction: row;
    padding-bottom:7%
}
    
    
    footer {
        padding: 40px 20px;
    }

}

@media screen and (max-width: 576px) {
    nav {
        height: 60px; 
        padding: 4em 1em; 
    }

    .nav-logo{padding-left: 1em}

    nav a {
        padding: 0 0.5em; 
    }
}

/* Narratives */
.container-fluid {overflow-x: hidden; 
    margin-top: 7% !important;
    padding:0 0 5% 0!important;
    width:100vw;
    
  
}

.col-md-2{padding-left:4.5%;
    
 }
.col-md-10{margin:0 !important;
padding-left: 0;

}


#v-pills-home, #v-pills-profile, #v-pills-messages{margin-right:7%}

 
.nav-link.active {
    font-weight: 450;
}

.nav-link {padding-right: 0;
    margin-left: -10%;
    background-color: transparent !important;
}

.nav-link:hover {
    color: #d6054e !important;
    background-color: transparent !important;
}

.nav-link.active:hover {
    color: #d6054e !important;
}


 .goToObj{font-weight: bold;}
 .goToObj:hover{color:#d6054e !important;}


/* History */
.timeline{   /*!testo molto più in basso rispetto al titolo*/
    margin: 100px 0; /*!timeline in basso, lo 0 sennò verreberro appiccicati al centro*/
    padding: 10px;

    display: grid;
    grid-template-columns: 75% auto; /*!percentuale più spostata a destra o a sinistra*/
    justify-content: center;
}

ul{
    margin-top: 30px; /*!più alto/basso il numero più i pallini vanno giù/su */
    display: flex;  /*!testi disposti orizzontalmente*/
    flex-direction:column;
    justify-content: center; /*!makes the timeline resposnive*/
    align-items: center;
    list-style: none;
    padding: 0;
}

li{
    position: relative; /* così i testi sono uno accanto all'altro, se absolute uno sopra l'altro */
    padding: 165px;   
}

li p{
    position: absolute;
    width: 160px; /* la larghezza del riquadro */
    top: 10px;
    left: 45px;
    
    border: 1px solid black;
    color: black;
    text-align: left;

    font-size: 12px;
    transform: translateY(-10px); /*!PER NON FARE VEDERE TUTTI I TESTI ALL'INIZIO!!*/
    padding: 15px;
    transition: 1.5s;
}


li.active p {
    opacity: 1;
    transform: translateY(0);
}
/* Stile per il bottone */
a.tell-more, a.tell-less {
    padding: 5px 10px !important;
    width: 120px;
    background-color: #ffffff; /* Colore di sfondo simile ai bottoni di Bootstrap */
    text-decoration: none; /* Rimuove la sottolineatura del link */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
    font-size: 13px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    color: #d6054e !important; /* Colore del testo predefinito */
}

.tell-more:hover, .tell-less:hover {
    background-color: #d6054e; /* Colore più scuro quando il link viene "hoverato" */
    color: #ffffff !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Effetto di illuminazione con ombra */
}

.date{
    position: absolute;
    transition: 1.5s;
    font-size: 15px;

    position: absolute;
    top: 30px;
    left: -68px;
    font-size: 16px;
}

.timeline-point { /*!puntini messi sopra i testi*/
    border: none;
    position: absolute;

    background: #D9D9D9;
    width: 20px;
    height: 13px;

    top: 30px;  
    left: -11px;
    transition: 1.5s ease;
}

.timeline-line{  /*!la riga timeline*/
    background: #D9D9D9;
    width: 4px;
    border-radius: 12px;
    position: relative;
    justify-self: end;
}

.timeline-innerline{  /*!la riga timeline*/
    position: absolute;
    background: #d6054e;
    height: 0%;
    width: 4px;
    top: 0%;
    left: 0%;
    transition: 1s linear;
    border-radius: 999px;
}

.add-information{
    position: relative;
    display: flex;
    flex-direction: column;
    top: -20px; /* Sposta la didascalia sopra la data */
}

.info-section{
    width: 70%;
    margin: auto;
    padding: 20px;
    justify-content: center;
    display: none; /* Nasconde tutte le sezioni all'inizio */;
    scroll-margin-top: 1000px; /* Offset per "Tell me less" */
}

.image-container {
    float: right; /* Posiziona il contenitore (immagine + didascalia) a destra */
    margin: 0 0 10px 10px; /* Spazio intorno al contenitore */
    width: 60%; /* Larghezza del contenitore */
    max-width: 300px; /* Limita la larghezza massima */
    text-align: center; /* Centra il testo della didascalia sotto l'immagine */
}

.image-container img {
    width: 100%; /* L'immagine si adatta alla larghezza del contenitore */
    height: auto; /* Mantiene le proporzioni */
}

.image-container figcaption {
    font-size: 14px; /* Dimensione del testo della didascalia */
    color: #555; /* Colore del testo della didascalia */
    margin-top: 5px; /* Spazio sopra la didascalia */
}

.theInfo .goToObj{
    outline: none !important;
    border: none !important;
    background-color: transparent;
}

.citation{
    font-size: 12px !important; 
    color: #777 !important;
}


@media screen and (min-width:728px) {
    .timeline{
        display: block;
        margin: 270px 0; /*!timeline in basso, lo 0 sennò verreberro appiccicati al centro*/
    }

    ul{ 
        flex-direction: row;
    }
    li{
        width: 100%;
        padding: 0 20px;
    }
    
    li p{
        position: absolute;
        top: -270px; /* Sposta la didascalia sopra la data */
        right: 3px;
        left: 3px;
        width: 170px; /* la larghezza del riquadro */

        transform: translateY(-10px); /*!non vedo i testi*/
        opacity: 0;
        padding:  11px;
        transition: 1.5s;
    }

    .content-section {
        scroll-margin-top: 900px; /* Offset per "Tell me less" */
        position: relative;
    }

    .date{
        position: absolute;
        top: -65px;
        left:35%;
    }
    
    .timeline-point { /*!puntini messi sopra i testi*/
        width: 5px;
        height: 15px;
    
        top: -40px;  
        left: 40%;
    }
    
    .timeline-line{  /*!la riga timeline*/
        width: 100%;
        height: 4px;

    }
    
    .timeline-innerline{  /*!la riga timeline*/
        width: 0%;
        height: 4px;
    }

    .add-information{
        position: relative;
        display: flex;

        top: -200px; /* Sposta la didascalia sopra la data */

    }
    
    .info-section{
        width: 100%;
        margin: auto;
        justify-content: center;
        text-align: left;
        display: none; /* Nasconde tutte le sezioni all'inizio */;
        scroll-margin-top: 170px; /* Offset per "Tell me less" */
    }

    
    .info-section p{
        padding: 0;
        margin: 0;
    }
}




/*Narrative: Designers*/
/* Carousel */
.carousel {
    height: auto; 
    position: relative;
    overflow: hidden; 

}

.carousel .designers {
    display: flex;
    transition: transform 0.5s ease-in-out;
    flex-wrap: nowrap;
}

.carousel .designers .item {
    flex: 0 0 100%;
    display: flex; 
    justify-content: center;
}

.carousel .designers .item .intro {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    height: auto; 
    padding: 0 0 7% 0;
    
}

.carousel-image {
    width: 30%;
    height: auto;
    object-fit: contain; 
    margin: 0 6% 2% 0;
    margin-bottom: 5px;
    max-width: 100%; 
}

@media screen and (max-width: 1024px) {

    .carousel .designers .item .intro {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5px;
    }

    .text {
        width: 100%;
        flex: none;
    }

    .carousel-image {
        width: 60%;
        height: auto;
        margin-left: 0;
        flex: none;
        object-fit: contain; 
    }

    
}

@media screen and (max-width: 768px) {
    .carousel-image {
        width: 60%;
    }
}


/* Arrows */
.arrows {
    position: absolute;
    bottom: 2px;
    left: 10px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    border: none;
}

.arrows button {outline:none;
    width: 50px;
    height: 50px;
    border: none !important;
    cursor: pointer;
    font-size: 0;
}

#prev::before,
#next::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: solid #777777;
    border-width: 0 3px 3px 0;
    padding: 2px;
    transform: rotate(45deg);
}


#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#prev::before {
    transform: rotate(135deg);
}

#next::before {
    transform: rotate(-45deg);
}

.arrows button, .text button, .space_text button {
    border: none;
    padding: 0;
    background-color:transparent;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 10px 0 0 0;
    cursor: pointer;
    text-align: left;
    margin-top: 1%;
}

/*Narrative: spaces */

.content_that_appears{height: 90vh; 
    overflow: hidden;
    width: 100%;
    opacity:0;
    filter: blur(5px);
    padding-right: 7%;
    }
    
    
.show{opacity: 1;
        filter: blur(0);
        transition: opacity 1s ease-in-out, filter 1s ease-in-out;
       }
    
.thecontent{display:flex;
    flex-direction: row;
    gap: 7%;
    max-height: 100%;
        
 }

 .content_that_appears h1{transition-delay: 2s;
 }
    
.thecontent img{flex: 20%;
    object-fit: contain;
    width:50%;
    height:auto;

    
    }
    
section {
        scroll-snap-align: start;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        width:100%;
    }
        
        
.container_spaces_narrative {
            scroll-snap-type: y mandatory;
            overflow-y: auto; 
            height: 100vh; 
            max-height: 100vh;
            width: 100%;

        }




@media screen and (max-width: 1024px) {

    .thecontent{display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10%;
        width: 100%;
        height: 100%;

     }
           
    .thecontent img{flex: none;
        object-fit: contain;
        width:60%;
        height:auto;
        
        }
    
    
            
            
     }
        
@media screen and (max-width: 768px) {
            
        }


/* Map Page */
.hidden {
    display: none;
}

.visible {
    display: block;
}

.content {
    flex: 50%;
}

.image-mapper-shape {
    fill: rgba(0, 0, 0, 0);
    cursor: pointer;
}

g:hover .image-mapper-shape {
    fill: #d6054e;
    transition: fill 0.4s;
    opacity: 10%;
}

/* Intro Section */
.map_and_spaces {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: flex-end;
    margin: 12% 7% 7% 7%;
   
}

#svg_container { 
    width: 50%;
    height:auto;
    flex: 50%;
}

#rooms_texts{flex: 50%; 
    padding-top:3%
   }

   @media screen and (max-width: 1024px) {
    .map_and_spaces {
        height: auto;
        flex-direction: column-reverse;
        align-items: center;
        margin: 10% 7%;
    }

    #svg_container {
        width: 75%;
        flex: none;
        margin-top: 20px;
    }

    #rooms_texts {
        width: 100%;
        flex: none;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .map_and_spaces {
        margin: 5% 7%;
        gap: 3%;
    }


    #rooms_texts {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .map_and_spaces {
        margin: 5% 7%;
    }

   

    #rooms_texts {
        width: 100%;
        margin-top: 15px;
    }
}
.scrolldown {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 100%;
    gap: 2px;
    padding-right: 7%;
    overflow-y: auto;
}


.heading_scrolldown {
    font-weight: bold;
    margin-top:7%;
    border-bottom: 1px solid #000;
}


.scrolldown p{   
    text-align: left;
    padding-top:2%
}

.scrolldown a{
    text-align: right;
    color:#000;
    text-decoration: none;
    padding-top: 2%;
    background-color:transparent;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;

    margin-top: 0;
}




.scrolldown {margin-top:2%;
    max-height: 100px; 
    overflow-y: auto;
    
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 2px;
   
}

::-webkit-scrollbar-track {
    background:#D9D9D9;
    margin-top: 8px; 
    margin-bottom: 25px; 
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    min-height: 20px;
}




/*usage narrative*/
.text-overlay{
    position: absolute;
    bottom: 25%;
    left: 5%;
    color: WHITE;
    padding: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.text-overlay a{
    padding-top: 2%;
    color: black;
    
    
}
.text-overlay-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;  
}
.text-overlay-description{
    font-size: 1.2rem;
    overflow-wrap: normal;
}
.text-overlay .goToObj{
    background-color: transparent !important;
    outline: none;
    border:none;
}
.container1 #first_section{
    color: white; 
}
.container1 #third_section{
    color: white !important;
}
.container1 #first_section:hover{
    color: black !important;
}
.container1 #third_section:hover{
    color: red !important;
}
.usage{display: flex;
    flex-direction: column;
    gap: 20px;
}
.container1 {
    display: flex;
    width:100%;
    height: 80%;
    gap:20px;
    transform: scale(0.9);
    transform-origin: center;
}
.image-box{
    flex:3;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width: 80%
    
    
}
.image-box img{
    width:100%;
    height:auto;
    object-fit: cover;
    display:block;
}

.carousel-usage{
    flex:1;
    position:relative;
    overflow: hidden;
    width: 100%;
}
.carousel-images-usage{
    display:flex;
    transition: transform 0.5s ease;
}

.carousel-usage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-intro{
    flex: 95%; 
    background-image: url("images/Interior/1.png");
    background-size: cover; 
    background-position: center; 
    
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    color: white; 
    
    padding: 50px; 
}

.text-intro h1 {font-family: 'Glacial Indifference', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;}

#goToObject {color: white;
    padding-top: 0; 
}

.carousel-inner{flex: 5%;
height: 300px; 
background-size:cover;
border: 1px solid black; }

footer {
    background-color: #000;
    color: #fff;
    padding: 100px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer h3 {
    font-size: 800;
}

footer .right {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 26px;
}

footer .right .links {
    display: flex;
    gap: 30px;
}

footer .right .links a {
    color: #989898;
    transition: color 0.3s ease;
}

footer .right .links a:hover {
    color: #fff;
}

footer .right .social {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .right .social i {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

footer .right .social i:hover {
    color:#d6054e;
}

footer .right p {
    font-size: 13px;
    color: #777;
}

.social a {
    color: #fff !important;
}